@model IEnumerable<DownloadAppModel>

@foreach (var app in Model)
{
    <div class="app">
        <div>
            <p class="text-m">@app.Title</p>
            <div class="star-rating">
                @for (var i = 0; i < Math.Floor(app.StarRating); i++)
                {
                    <i class="fa-solid fa-star"></i>
                }
                @if (app.StarRating % 1 != 0) // Kontrollerar om det finns en decimaldel
                {
                    <i class="fa-solid fa-star-half-stroke"></i>
                    // antar att 'fa-star-half-alt' är klassen för en halv stjärna
                }
                @for (var i = Math.Ceiling(app.StarRating); i < 5; i++)
                {
                    <i class="fa-duotone fa-star"></i>
                }
            </div>
            <h4>@app.SubTitle</h4>
            <p class="text-m">@app.Description</p>
        </div>
        <div class="app-img">
            <a href="#"><img src="@app.ImageUrl" alt="@app.Title"></a>
        </div>
    </div>
}