@using Presentation.WebApp.ViewModels.Courses
@model CourseViewModel


<section class="dashboard">

    <div class="container">


        <div>
            <h2>List of Courses</h2>
            <a class="btn-success-small asp-controller="Admin" asp-action="CreateCourse">New Course</a>
        </div>

     

        @if (Model.Courses != null)
        {
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>


                <tbody>

                    @foreach (var course in Model.Courses)
                    {
                        <tr>
                            <th> <a asp-action="Details" asp-controller="Courses" asp-route-id="@course.Id">@course.CourseTitle</a> </th>
                            <th>@course.Author.FullName</th>
                            <th>@course.CourseCategory</th>
                            <th class="action">

                                <a class="btn-theme-small" asp-controller="Admin" asp-action="UpdateCourse" asp-route-id="@course.Id">Edit</a>
                                <button class="btn-danger-small type="button" onclick="deleteCourseAdmin('@course.Id')">Delete</button>
                            
                            </th>
                        </tr>
                    }


                </tbody>


            </table>
        }
        else
        {
            <div class="container">No Courses Found</div>
        }


    </div>


</section>